{% extends "base.html" %}
{% block title %}Academic Calender{% endblock %}
{% block content %}

    <div style="display: inline-block; padding-left: 5%;padding-right: 5%;padding-top:2%; text-align: center;">
        <h2>Academic Calender</h2>
        <p><img style="width: 100%;" src="/static/img/cal1.png"></p>
        <p><img style="width: 100%;" src="/static/img/cal2.png"></p>
        <a href="/static/img/calender.pdf"><button class="btn btn-primary pos" style="background: dodgerblue;">Download Calender</button></a>
    </div>

        <!-- Add your bootstrap class here or any other required script like jquery, javascript, ajax etc if needed -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
{% endblock %}