{% extends "base.html" %}
{% block title %}Departments{% endblock %}
{% block content %}

   <div style="display: inline-block;padding-top:3%;">
      <h1 style="text-align: center;color: black;padding-bottom:3%;">Departments & Centers</h1>
      <div class="card-group">
        <div class="card" style="border: 2px solid black; padding: 15px;">
          <a href="#"><img class="card-img-top" src="/static/img/chem.png" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Chemical Engineering</h5>
          </div>
        </div>
        <div class="card" style="border: 2px solid black; padding: 15px;">
          <img class="card-img-top" src="/static/img/cse.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Computer Science & Engineering</h5>
          </div>
        </div>
        <div class="card" style="border: 2px solid black; padding: 15px;">
          <img class="card-img-top" src="/static/img/civil.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Civil Engineering</h5>
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card" style="border: 2px solid black; padding: 15px;">
          <img class="card-img-top" src="/static/img/eee.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Electrical & Electronics Eng</h5>
          </div>
        </div>
        <div class="card" style="border: 2px solid black; padding: 15px;">
          <img class="card-img-top" src="/static/img/ece.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Electronics & Communication Eng</h5> 
          </div>
        </div>
        <div class="card" style="border: 2px solid black; padding: 15px;">
          <img class="card-img-top" src="/static/img/it.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Information Technology</h5> 
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card" style="border: 2px solid black; padding: 15px;">
          <img class="card-img-top" src="/static/img/mech.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mechanical Engineering</h5>  
          </div>
        </div>
        <div class="card" style="border: 2px solid black; padding: 15px;">
          <img class="card-img-top" src="/static/img/mett.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Metallurgical & Materials Eng</h5>   
          </div>
        </div>
        <div class="card" style="border: 2px solid black; padding: 15px;">
          <img class="card-img-top" src="/static/img/cdc.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Career Development Centre</h5>
          </div>
        </div>
                  <br>

      </div>
   </div>


        <!-- Add your bootstrap class here or any other required script like jquery, javascript, ajax etc if needed -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

{% endblock %}