{% extends "base.html" %}
{% block title %}Feedback{% endblock %}
{% block content %}
<style>
input[type=text], select, textarea {    
  width: 100%;    
  padding: 12px;    
  border: 1px solid rgb(70, 68, 68);    
  border-radius: 4px;    
  resize: vertical;    
}    
input[type=email], select, textarea {    
  width: 100%;    
  padding: 12px;    
  border: 1px solid rgb(70, 68, 68);    
  border-radius: 4px;    
  resize: vertical;    
}    
    
label {
  padding: 12px 12px 12px 0;    
  display: inline-block;    
}    
    
input[type=submit] {    
  background-color: rgb(37, 116, 161);    
  color: white;    
  padding: 12px 20px;    
  border: none;    
  border-radius: 4px;    
  cursor: pointer;    
  float: right;   
}    
    
input[type=submit]:hover {    
  background-color: #45a049;    
}      
    
.col-25 {    
  float: left;    
  width: 25%;    
  margin-top: 6px;    
}    
    
.col-75 {    
  float: left;    
  width: 75%;    
  margin-top: 6px;    
}    
    
/* Clear floats after the columns */    
.row1:after {    
  content: "";    
  display: table;    
  clear: both;    
}
</style>
   <h2 style="text-align: center;"><br>Feedback</h2>
<br>
          {% for msg in messages %}
            <p style="color:darkblue; align:center;"> {{msg}}</p>
        {% endfor %}
    <div class="container">    
      <form method="POST">
        {% csrf_token %}
        <div class="row1">    
          <div class="col-25">    
            <label for="fname">First Name</label>    
          </div>    
          <div class="col-75">    
            <input type="text" id="fname" name="firstname" placeholder="Your name..">    
          </div>    
        </div>    
        <div class="row1">    
          <div class="col-25">    
            <label for="lname">Last Name</label>    
          </div>    
          <div class="col-75">    
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">    
          </div>    
        </div>    
        <div class="row1">    
            <div class="col-25">    
              <label for="email">Mail Id</label>    
            </div>    
            <div class="col-75">    
              <input type="email" id="email" name="mailid" placeholder="Your mail id..">    
            </div>    
          </div>    
        <div class="row1">    
          <div class="col-25">    
            <label for="country">Departments</label>
          </div>    
          <div class="col-75">    
            <select id="country" name="dept">
              <option name="dept" value="none">Select Department</option>
              <option name="dept" value="Chemical">Chemical</option>
              <option name="dept" value="Civil">Civil</option>
              <option name="dept" value="CSE">CSE</option>
              <option name="dept" value="EEE">EEE</option>
              <option name="dept" value="ECE">ECE</option>
              <option name="dept" value="IT">IT</option>
              <option name="dept" value="ME">ME</option>
            </select>    
          </div>    
        </div>    
        <div class="row1">    
          <div class="col-25">    
            <label for="feed_back">Feed Back</label>    
          </div>    
          <div class="col-75">    
            <textarea id="subject" name="feedback" placeholder="Write something.." style="height:200px"></textarea>
          </div>    
        </div>    
          <button style="border:none; margin-left:57%"><input type="submit" value="Submit"></button>
      </form>    
    </div>    

        <!-- Add your bootstrap class here or any other required script like jquery, javascript, ajax etc if needed -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
{% endblock %}