{% extends "base.html" %}
{% block title %}Fee Structure{% endblock %}
{% block content %}
<style>
    .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
</style>
    <div style="display: inline-block; width: 100%;padding-top:3%; padding-left: 5%;padding-right: 5%; text-align: center;">
        <h2>Fee Structure</h2><br><br>
        <h5> Institute Fee Structure</h5>
        <a href="#">Institute Fee Structure</a><br>
        <a href="/static/img/Fee_Structure.pdf"><button class="btn btn-primary pos" >Download</button></a>
        
        <h5><br> Hostel Fee Structure</h5>
        <a href="#">Hostel Fee Structure</a><br>
        <a href="/static/img/HFee_structure.pdf"><button class="btn btn-primary pos">Download</button></a>
    </div>


        <!-- Add your bootstrap class here or any other required script like jquery, javascript, ajax etc if needed -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
{% endblock %}