{% extends "base.html" %}
{% block title %}HODs{% endblock %}
{% block content %}

       <div class="container pt-0 pb-0" style="display: inline;width: 100%;">
            <div class="section-content"  >
                <div class="row equal-height-inner home-boxes" data-margin-top="50px" style="background-color: #d6ebf1;">
                    <h2 style="text-align: center;color: #1B374C;"><br>Head of Departments Details</h2>
                    <div class="col-sm-3 col-xs-6 col-md-6 wow fadeInLeft animation-delay4" style="min-height: 16em;padding: 25px; visibility: visible; animation-name: fadeInLeft;">
                        <div class="sm-height-auto" style="min-height: 197.4px; border: 1px solid black; padding: 15px;">
                            <div class="features-box-colored text-center">
                                <div style="float: left;"><img src="/static/img/jagadeeshbabu.jpeg" alt="" class="bkimg" style="width: 100%;"></div>
                                <div style="float: left; padding-left: 20px;">
                                    <h4>Dr. P. E Jagadishbabu</h4>
                                    <h5>HOD of Chemical Engineering, NITK Surathkal</h5>
                                    <h6>Email: <a href="#">hodchemical@nitk.edu.in</a></h6>
                                    <h6>Phone: +91-824-2473042</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 col-md-6 wow fadeInLeft animation-delay4" style="min-height: 16em;padding: 25px; visibility: visible; animation-name: fadeInLeft;">
                        <div class="sm-height-auto" style="min-height: 197.4px; border: 1px solid black; padding: 15px;">
                            <div class="features-box-colored text-center">
                                <div style="float: left;"><img src="/static/img/Dr._BRJ-photo.jpg" alt="" class="bkimg" style="width: 100%;"></div>
                                <div style="float: left; padding-left: 20px;">
                                    <h4>Dr. B R Jayalekshmi</h4>
                                    <h5>HOD of Civil Engineering, NITK Surathkal</h5>
                                    <h6>Email: <a href="#">brjaya@nitk.edu.in</a></h6>
                                    <h6>Phone: +91-824-2473041</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 col-md-6 wow fadeInLeft animation-delay4" style="min-height: 16em;padding: 25px; visibility: visible; animation-name: fadeInLeft;">
                        <div class="sm-height-auto" style="min-height: 197.4px; border: 1px solid black; padding: 15px;">
                            <div class="features-box-colored text-center">
                                <div style="float: left;"><img src="/static/img/hod.jpg" alt="" class="bkimg" style="width: 100%;"></div>
                                <div style="float: left; padding-left: 20px;">
                                    <h4>Dr. Shashidhar G Koolagudi</h4>
                                    <h5>HOD of CSE, NITK Surathkal</h5>
                                    <h6>Email: <a href="#">Email: koolagudi@nitk.edu.in</a></h6>
                                    <h6>Phone: +91-824-2473044</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 col-md-6 wow fadeInLeft animation-delay4" style="min-height: 16em;padding: 25px; visibility: visible; animation-name: fadeInLeft;">
                        <div class="sm-height-auto" style="min-height: 197.4px; border: 1px solid black; padding: 15px;">
                            <div class="features-box-colored text-center">
                                <div style="float: left;"><img src="/static/img/05.01-GSP-medium_0.jpg" alt="" class="bkimg" style="width: 100%;"></div>
                                <div style="float: left; padding-left: 20px;">
                                    <h4>Dr. Gururaj S Punekar </h4>
                                    <h5>HOD of EEE , NITK Surathkal</h5>
                                    <h6>Email: <a href="#">ee_hod@nitk.edu.in </a></h6>
                                    <h6>Phone: +91-824-2473045</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 col-md-6 wow fadeInLeft animation-delay4" style="min-height: 16em;padding: 25px; visibility: visible; animation-name: fadeInLeft;">
                        <div class="sm-height-auto" style="min-height: 197.4px; border: 1px solid black; padding: 15px;">
                            <div class="features-box-colored text-center">
                                <div style="float: left;"><img src="/static/img/ashv_0.png" alt="" class="bkimg" style="width: 100%;"></div>
                                <div style="float: left; padding-left: 20px;">
                                    <h4>Dr. Ashvini Chaturvedi </h4>
                                    <h5>HOD of ECE , NITK Surathkal</h5>
                                    <h6>Email: <a href="#">ashvinichaturvedi@nitk.edu.in </a></h6>
                                    <h6>Phone: +91-824-2473046</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 col-md-6 wow fadeInLeft animation-delay4" style="min-height: 16em;padding: 25px; visibility: visible; animation-name: fadeInLeft;">
                        <div class="sm-height-auto" style="min-height: 197.4px; border: 1px solid black; padding: 15px;">
                            <div class="features-box-colored text-center">
                                <div style="float: left;"><img src="/static/img/jaidhar-c-d-image.jpg" alt="" class="bkimg" style="width: 100%;"></div>
                                <div style="float: left; padding-left: 20px;">
                                    <h4>Dr. Jaidhar C.D  </h4>
                                    <h5>HOD of IT , NITK Surathkal</h5>
                                    <h6>Email: <a href="#">jaidharcd@nitk.ac.in </a></h6>
                                    <h6>Phone: +91-824-2474056</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 col-md-6 wow fadeInLeft animation-delay4" style="min-height: 16em;padding: 25px; visibility: visible; animation-name: fadeInLeft;">
                        <div class="sm-height-auto" style="min-height: 197.4px; border: 1px solid black; padding: 15px;">
                            <div class="features-box-colored text-center">
                                <div style="float: left;"><img src="/static/img/smkinstweb1.jpg" alt="" class="bkimg" style="width: 100%;"></div>
                                <div style="float: left; padding-left: 20px;">
                                    <h4>Dr. Kulkarni S M  </h4>
                                    <h5>HOD of Mechanical Engineering, NITK Surathkal</h5>
                                    <h6>Email: <a href="#">hodmechanical@nitk.edu.in </a></h6>
                                    <h6>Phone: +91-824-2473049</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 col-md-6 wow fadeInLeft animation-delay4" style="min-height: 16em;padding: 25px; visibility: visible; animation-name: fadeInLeft;">
                        <div class="sm-height-auto" style="min-height: 197.4px; border: 1px solid black; padding: 15px;">
                            <div class="features-box-colored text-center">
                                <div style="float: left;"><img src="/static/img/k-narayan-prabhu-image.jpg" alt="" class="bkimg" style="width: 100%;"></div>
                                <div style="float: left; padding-left: 20px;">
                                    <h4>Prof. K. Narayan Prabhu </h4>
                                    <h5>HOD of Metallurgical & Materials Engineering,<br> NITK Surathkal</h5>
                                    <h6>Email: <a href="#">hodmme@nitk.edu.in </a></h6>
                                    <h6>Phone: +91-824-2473050</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 col-md-6 wow fadeInLeft animation-delay4" style="min-height: 16em;padding: 25px; visibility: visible; animation-name: fadeInLeft;">
                        <div class="sm-height-auto" style="min-height: 197.4px; border: 1px solid black; padding: 15px;">
                            <div class="features-box-colored text-center">
                                <div style="float: left;"><img src="/static/img/r-madhusudhan-image.jpg" alt="" class="bkimg" style="width: 100%;"></div>
                                <div style="float: left; padding-left: 20px;">
                                    <h4>Dr. R. Madhusudhan </h4>
                                    <h5>HOD of Mathematical and Computational<br> Sciences, NITK Surathkal</h5>
                                    <h6>Email: <a href="#">hodmacs@nitk.edu.in </a></h6>
                                    <h6>Phone: +91-824-2474048</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 col-md-6 wow fadeInLeft animation-delay4" style="min-height: 16em;padding: 25px; visibility: visible; animation-name: fadeInLeft;">
                        <div class="sm-height-auto" style="min-height: 197.4px; border: 1px solid black; padding: 15px;">
                            <div class="features-box-colored text-center">
                                <div style="float: left;"><img src="/static/img/M_Aruna.jpg" alt="" class="bkimg" style="width: 100%;"></div>
                                <div style="float: left; padding-left: 20px;">
                                    <h4>Dr. M. Aruna </h4>
                                    <h5>HOD of Mining Engineering, NITK Surathkal</h5>
                                    <h6>Email: <a href="#">arunamangalpady@gmail.com </a></h6>
                                    <h6>Phone: +919449066672</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 col-md-6 wow fadeInLeft animation-delay4" style="min-height: 16em;padding: 25px; visibility: visible; animation-name: fadeInLeft;">
                        <div class="sm-height-auto" style="min-height: 197.4px; border: 1px solid black; padding: 15px;">
                            <div class="features-box-colored text-center">
                                <div style="float: left;"><img src="/static/img/IMG-20210405-WA0009.jpg" alt="" class="bkimg" style="width: 100%;"></div>
                                <div style="float: left; padding-left: 20px;">
                                    <h4>Dr. B.M.Dodamani </h4>
                                    <h5>HOD of Water Resources & Ocean Engg,<br> NITK Surathkal</h5>
                                    <h6>Email: <a href="#">hodwroe@nitk.edu.in </a></h6>
                                    <h6>Phone: +91-824-2473040</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 col-md-6 wow fadeInLeft animation-delay4" style="min-height: 16em;padding: 25px; visibility: visible; animation-name: fadeInLeft;">
                        <div class="sm-height-auto" style="min-height: 197.4px; border: 1px solid black; padding: 15px;">
                            <div class="features-box-colored text-center">
                                <div style="float: left;"><img src="/static/img/pstccc.jpg" alt="" class="bkimg" style="width: 100%;"></div>
                                <div style="float: left; padding-left: 20px;">
                                    <h4>Dr.P.Santhi Thilagam </h4>
                                    <h5>Chairman of CCC , NITK Surathkal</h5>
                                    <h6>Email: <a href="#">chairmanccc@nitk.edu.in </a></h6>
                                    <h6>Phone: +91-824-2473083</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}