{% extends "base.html" %}
{% block title %}Student Login{% endblock %}
{% block content %}
<style>
    *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.main_div{
  align:center;
  width: 365px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.main_div .title{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #1B374C;
}

form {
  margin-top: 25px;
}
form .input_box{
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.input_box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 45px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.input_box input:focus{
  border-color: #be2edd;
}
.input_box .icon{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: grey;
}
form .option_div{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.option_div .check_box{
  display: flex;
  align-items: center;
}
.option_div span{
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}
.option_div .forget_div a{
  font-size: 16px;
  color: #be2edd;
}
.button input{
  padding-left: 0;
  background: #1B374C;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
}
.button input:hover{
  background: #a720c5;
}
form .sign_up{
  text-align: center;
  margin-top: 25px;
}
.sign_up a{
  color: #be2edd;
}
form a{
  text-decoration: none;
}
form a:hover{
  text-decoration: underline;
}

</style>
<div style="padding-left:35%;">
    <div class="main_div">
    <div class="title" style="color: darkslateblue;">Student Login</div>
    <form method="POST">
        {% csrf_token %}
      <div class="input_box">
        {{form.rollNo}}
        <div class="icon"><i class="fas fa-user"></i></div>
      </div>
      <div class="input_box">
        {{form.Password}}
        <div class="icon"><i class="fas fa-lock"></i></div>
      </div>
        <br><br>
                  {% for msg in messages %}
            <p style="color:red;"> {{msg}}</p>
        {% endfor %}
      <div class="input_box button">
        <input type="submit" value="Login">

      </div>
      <div class="sign_up">
        Not  Registered Yet? <a href="{% url 'studentRegister' %}">Register Here</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}